* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Baskerville Italic";
    src: url("assets/LibreBaskerville-Italic.ttf");
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.element-fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
.element-long-fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}



body {
    background-color: sienna;
}

h1 {
    text-align: center;
    background-color: tan;
    font-family: "Baskerville Italic";
    margin-bottom: 0;
}

main {
    margin-bottom: 15px;
}

main div{
    background-color: tan;
}

main img {
    height:100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.mobile-hidden {
    display: none;
}
.desktop-hidden {
    display: block;
}

/*For desktop!*/
@media screen and (min-width: 768px){
    .mobile-hidden{
       display: block;
    }
    .desktop-hidden {
        display: none;
    }

}